@using FeatureFlagTests.Toggles
@using FeatureFlagTests.Utilities
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@if (FeatureUtilities.IsEnabled(FeatureToggles.Beta))
{
    <h4>Beta is enabled </h4>
}

@if (FeatureUtilities.IsNotEnabled(FeatureToggles.NonFeatureName))
{
    <h4>Beta is not enabled </h4>
}
